# Ignore the compiled package
build/discordnp-linux
build/discordnp-cygwin
build/discordnp-darwin
build/discordnp-*.exe

# Ignore the build dependency cache
build/depcache

# Ignore your personal config file
config.ini

# Ignore all log files
*.log
